{% extends "index.html" %} 
{% load static %}
{% block content %}
<div class="black-text">
        
        <h2>Lista de Clientes</h2>
        <a href="{% url 'NewClient' %}" class="black-text"><i class="material-icons black-text">insert_drive_file</i> </a>
        <h6>
        <table class="bordered centered "> 
            <thead>
                <tr>
                  <th>Empresa</th>
                  <th>Endereço</th>
                  <th>Estado</th>
                  <th>País</th>
                  <th>Contato</th>
                  <th>Alterar</th>
                  
                </tr>
              </thead> 
              <tbody>    
        {% for client in clients %}

            <tr>
                    <td>{{ client.com_name }}</td>
                    <td>{{ client.adress }}</td>
                    <td>{{ client.state }}</td>
                    <td>{{ client.country }}</td>
                    <td>{{ client.contact }}</td>
                    <td><a href="{% url 'UpClient' client.id %}"><i class="material-icons black-text">create</i></a></td>
            </tr>
        {% endfor %}
    </tbody>
    
    </table>
</h6>
</div>
{% endblock %}