<div class="container">
    <a href="{% url 'Newtype' %}"> <button><i class="fa fa-fw fa-file"></i></button> </a> </br>
    <h2>Lista de Tipos de Pacotes</h2>
    
    <table class="table table-striped"> 
        <thead>
            <tr>
              <th>Pacote</th>
              <th>Peso</th>
              <th>Alterar</th>
              <th>Excluir</th>
            </tr>
          </thead> 
          <tbody>    
    {% for type in types %}

        <tr>
                <td>{{ type.package }}</td>
                <td>{{ type.weight }}</td>
                <td><a href="{% url 'Uptype' type.id %}"><button><i class="fa fa-fw fa-pencil"></i></button></a></td>
                <td><a href="{% url 'Deltype' type.id %}"> <button type="submit"><i class="fa fa-fw fa-times"></i></button> </a></td>
        </tr>
    {% endfor %}
</tbody>

</table>
</div>