{% extends "index.html" %} 
{% load static %}
   
        {% block content %}
<div class=" black-text">
    <a href="{% url 'Newtype' %}"class="black-text"><i class="material-icons black-text">insert_drive_file</i></a>
    <h2>Lista de Tipos de Pacotes</h2>
    
    <table class="bordered centered"> 
        <thead>
            <tr>
              <th>Pacote</th>
              <th>Peso</th>
              <th>Alterar</th>
              <th>Excluir</th>
            </tr>
          </thead> 
          <tbody>    
    {% for type in types %}

        <tr>
                <td>{{ type.package }}</td>
                <td>{{ type.weight }}</td>
                <td><a href="{% url 'Uptype' type.id %}"><i class="material-icons black-text">create</i></a></td>
                <td><a href="{% url 'Deltype' type.id %}"> <i class="material-icons red-text">delete_forever</i></a></td>
        </tr>
    {% endfor %}
</tbody>

</table>
</div>
{% endblock %}